.form-label {
	font-weight: 950;
	cursor: pointer;
    font-size:16px;
}

.form-validacion-estado {
    
	z-index: 100;
    left: 300px;
    top: 58px;
    opacity: 1;
}
#form-input-error {
    margin-top:6px;
	font-size: 14px;
    font-weight: 900;
}

.form-input-error-activo {
	display: block;
}
.form-group-input{
    display: flex;
    align-items: center;
    padding-right: 26px;
    height: 28px;
    width: 103%;
}

.form-group-input-correcto{
    background-image: url(img/bien.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20px;
}

.form-group-input-incorrecto{
    background-image: url(img/error.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 22px;
}

.form-input{
    text-align: center;
}

.form-group-btn{
    margin-top: 25px;
    margin-left:38%;
}

textarea{
    overflow: hidden;
    resize: none;
}
input[type="file"]{
    display:none;
}
.icono{
    height: 24px;
}