.icono {
    height: 20px;
    width: 20px;
   }
.logo {
    height: 30px;
    width: 30px;
   }
#fondo:before { /*FONDO OSCURO PARA LA IMAGEN DEL MENU*/
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.733);
}
#fondo {
    opacity: 0.9;
    width: 100%;
    padding: 20%;
	text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.fondotittle { /*TITULO DEL FONDO*/
    font-style: normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    size: 50%;
    letter-spacing: 10px;
    position: absolute;
    margin-left:auto;
    margin-right:auto;
    top: 30%;
    right: 0;
    left: 0;
  }
  .fondosubtittle{ /*DESCRIPCION EN EL FONDO*/
    width: 30%;
    letter-spacing: 2px;
    font-size: monospace;
    position: absolute;
    margin-left:auto;
    margin-right:auto;
    top:50%;
    right: 0;
    left: 0;
  }
span.text-decoration-line-through + p{
    color:rgb(180, 0, 0);
}
span.text-decoration-line-through + span{
    color:rgb(180, 0, 0);
}
.formulario{
    margin: 14px 25% 10px 25%;
    align-items: center;
}
.titulos{
    font-style: normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    size: 30%;
    letter-spacing: 6px;
    margin-left:auto;
    margin-right:auto;
}
.form-fila{
    padding-top:3px;
    display: inline;
}
.form-group{
    font-weight: bold;
    margin-top: 48px;
    display: inline-block;
}
.form-input{
    color: black;
    border-radius: 5px;
    width: 160px;
    text-align: center;
    height: 28px;
    border: 0.02px solid;
    margin-left: 10px;
}
.form-input:focus{
    background: rgb(247, 246, 246);
    border: rgb(2, 44, 107) 2px solid;
}
input[type="number"]{
    width: 70px;
    margin-right:3px;
}
select{
    border-radius: 5px;
    height: 28px;
}
textarea{
    text-align:center;
}
.btn-imagen{
    width:15px;
}
.boton{
    font-family: 'Courier New', Courier, monospace;
    margin-left:25%;
    margin-top:65px;
    border-radius: 5px;
    background:rgb(59, 59, 59);
    height: 30px;
    color: white;
    cursor: pointer;
}
.boton:hover{
    background:white;
    color:rgb(59, 59, 59);
    transition:0.15s;
}
.muestra{
    margin-top:10px;
}