.icono {
    height: 20px;
    width: 20px;
   }
.logo {
    height: 30px;
    width: 30px;
   }
#fondo:before { /*FONDO OSCURO PARA LA IMAGEN DEL MENU*/
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.733);
}
#fondo {
    opacity: 0.9;
    width: 100%;
    padding: 20%;
	text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.fondotittle { /*TITULO DEL FONDO*/
    font-style: normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    size: 50%;
    letter-spacing: 10px;
    position: absolute;
    margin-left:auto;
    margin-right:auto;
    top: 30%;
    right: 0;
    left: 0;
  }
  .fondosubtittle{ /*DESCRIPCION EN EL FONDO*/
    width: 30%;
    letter-spacing: 2px;
    font-size: monospace;
    position: absolute;
    margin-left:auto;
    margin-right:auto;
    top:50%;
    right: 0;
    left: 0;
  }
span.text-decoration-line-through + p{
    color:rgb(180, 0, 0);
}
span.text-decoration-line-through + span{
    color:rgb(180, 0, 0);
}