* {
    margin: 0;
}
body {
    font-family:'Courier New', Courier, monospace;
    padding: 90px 20px 0px 20px;
}
.header{
    background-color: rgb(56, 56, 56);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding-left: 45px;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.logo{
    font-size: 25px;
    font-weight: bold;
    padding: 0px 40px;
    line-height: 80px;
    letter-spacing: 2px;
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0px 10px;
    line-height:80px;
    text-transform: uppercase;
    width: max-content;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}
.nav-menu-link:hover{
    background-color: rgb(80, 79, 79);
}
.active{
    text-decoration: underline;
}
.titulo{
    margin-top: 8px;
    margin-bottom:2px;
}
.formulario{
    margin: 14px 25% 10px 25%;
    align-items: center;
}
.form-fila{
    padding-top:5px;
    display: inline;
}
.form-group{
    font-weight: bold;
    margin-top: 68px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
}
.form-input{
    color: black;
    border-radius: 3px;
    width: 160px;
    text-align: center;
    height: 18px;
    border: 0.5px solid;
}
.form-input:focus{
    background: rgb(247, 246, 246);
    border: rgb(2, 44, 107) 2px solid;
}
/*-------------
#file{
    display: none;
}

.label-file{
    font-weight: none;
    font-size: 12px;
    cursor: pointer;
}
/*-----------------------*/
input[type="number"]{
    width: 60px;
}
.btn-imagen{
    width:15px;
}
.boton{
    font-family: 'Courier New', Courier, monospace;
    margin-left:25%;
    margin-top:65px;
    border-radius: 5px;
    background:rgb(59, 59, 59);
    height: 30px;
    color: white;
    cursor: pointer;
}
.boton:hover{
    background:white;
    color:rgb(59, 59, 59);
    transition:0.15s;
}
.footer{
    width: 90%;
    position: absolute;
    bottom: 0;
    text-align: center;
}
.red{
    color:red;
}
.advertencia{
    width: 40%;
    position:absolute;
    top:120px;
    right:30px;
}
.muestra{
    margin-top:10px;
}
.table{
    width: 100%;
    border: black 2px solid;
}
.thead-dark{
    background-color:rgb(87, 87, 87);
    color:white;
    height:40px;
}
