header {
  text-align:center;
  background-color: #ccb4a4; 
  padding-top: 2px; 
  padding-bottom: 2px;
}
h1{
  font-family:'Courier New', Courier, monospace;
  letter-spacing: 6px; 
  font-weight:bolder;
}
section{
  padding-top:95px;
}
.centro{
  align-items: center;
  justify-content: center;
}

.text-danger {
  color: #dc3545;
}
.font-weight-bolder {
  font-weight: bolder;
}
form>label{
  font-family:'Courier New', Courier, monospace;
  font-size: 18px;
}
h3{
  font-size: 25px;
}
.btn {
  border: 1px solid;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.4rem;
  transition: background-color 0.15s ease-in-out;
  color: #fff;
  font-weight: bold;
  background-color: #a18264;
  border-color: #a18264;
}
.btn:hover {
  color: rgb(235, 235, 235);
  background-color: #a07a54;
  border-color: #a07a54;
}
.form-input{
  width: 20%;
  height:2.5em;
  padding: 0.03rem 0.75rem;
  font-size: .7rem;
  margin: 1.5ex 1.5ex;
  border: 1px solid;
  border-radius: 0.5rem;
  text-align: center;
}
.form{
  display: block;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 4ex;
}
b{
  font-size: 20px;
}
.tam{
  font-size: 18px;
}
.desc{
  margin-top: 0;
  padding-left: 33%;
  text-align: center;
  font-size: 11px;
  width: 33%;
}
.impresion{
  font-family:'Courier New', Courier, monospace;
  font-size: 15px;
}
.impresion-section{
  padding-top: 5px;
  margin-top: 1px;
}
.bold-subtitulo{
  font-weight: bold;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0.03rem;
}
.error{
  color: #dc3545;
  font-weight: bold;
  font-size: 25px;
}
.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
}
.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}