input[type="text"]{
    margin-top:4px;
    margin-bottom: 4px;
    height: 20px;
    border: radius 3px;

}
input[type="search"]{
    margin-top:4px;
    margin-bottom: 4px;
    height: 25px;
    border: radius 3px;
}
input[type="text"], input[type="search"]:hover{
    border: 2px solid blue;
}
